.container{
    margin-bottom: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    transform: translateX(0px);
    position: relative;
    width: 100%;
  
   
}



.greenNotesTitle{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 57px;
    animation: slideIn .7s ease-in-out forwards;

}


.noteSpan{
    color: #025951;
}

.btnContainer{
   position: absolute;
   bottom: 12%;
   animation: slideIn .75s ease-in-out forwards;

}

.btn{
    border: none;
    width: 200px;
    height: 60px;
    background-color: #025951;
    border-radius: 30px;
    color: white;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
    border: 1px solid #025951;
    cursor: pointer;
    transition: all .4s;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;


}


.btn:hover{
    background-color: #ffffff;
    color: #025951;
    border: 1px solid #025951;
    gap: 9px;

}

.Image1{
    position: relative;
    animation: slideIn .68s ease-in-out forwards;

  
}

.mainTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.circle{
    width: 400px;
    height: 400px;
    background-color: #025951;
    position: absolute;
    right: -13%;
    bottom: -34%;
    border-radius: 50%;
    animation: slideInr 1s ease-in-out forwards;

  
    

}

@keyframes UpDown {
    0%{
    transform: translateY(0px);

    }

    100%{
        transform: translateY(-10px);

    }
}
@keyframes slideIn {
    0% {
        transform: translateX(-10%);
      opacity: 0; 
    }
    50%{
        opacity: 0; 
    }
    70%{
        opacity: 0.2; 
    }
    95%{
        
        opacity: 0.9; 
    }
    100% {
        transform: translateX(0%);
        opacity: 1; 
    }
  }


  @keyframes slideInr {
    0% {
        transform: translateX(110%);
      opacity: 0; 
    }
    50%{
        opacity: 0; 
    }
    70%{
        opacity: 0.2; 
    }
    95%{
        
        opacity: 0.9; 
    }
    100% {
        transform: translateX(0%);
        opacity: 1; 
    }
  }

  .para{
    font-family: "Montserrat", sans-serif;
    width: 50%;
    letter-spacing: 1px;
    
  }
  .para1{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    
  }