@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Figtree:wght@300;400;600&family=Lato&family=Lobster&family=Montserrat:wght@100;200;300;400;600;700&family=Noto+Sans:wght@300&family=Open+Sans:wght@300;700&family=Poppins:wght@700&family=Roboto:wght@500&family=Russo+One&family=Unica+One&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
 
}

a {
  color: inherit;
  text-decoration: none;
}
